# build
build/
build-*/
out/

# slang (prebuilt)
vendors/slang-bin/

# compiled shaders
*.spv
*.spirv

# IDE
.vscode/settings.json
.idea/
*.user
*.suo
*.sln.docstates
.vs/

# CMake outputs
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
_deps/

# MACOS
.DS_Store
.AppleDouble
.LSOverride

# WINDOWS
Thumbs.db
Desktop.ini

# LINUX
*~
.nfs*
