[submodule "vendors/vk-bootstrap"]
	path = vendors/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vendors/VulkanMemoryAllocator"]
	path = vendors/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "vendors/volk"]
	path = vendors/volk
	url = https://github.com/zeux/volk
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui
